name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          cache: "npm"
      - run: npm ci
      - name: Run tests
        run: |
          STATUS=0
          npm test || STATUS=$?
          npm run lint -- --max-warnings=0 || STATUS=$?
          exit $STATUS
